asgiref
Django
djangorestframework
sqlparse
tzdata
charset-normalizer
django-cors-headers
django-email
django-environ
django-filter
psycopg2-binary
requests
whitenoise
cloudinary
django-cloudinary-storage
crispy-bootstrap5
dj-database-url
django-crispy-forms
Markdown
MouseInfo
numpy
opencv-contrib-python
pillow
psycopg2
PyAutoGUI
PyGetWindow
PyMsgBox
pyperclip
PyRect
PyScreeze
pytweening
typing_extensions
